In [2]:
import sys
import pandas as pd
from pandas.io import sql
from pandas.io.sql import read_sql
from pandas.io.sql import to_sql

#sqlalchemy
import sqlalchemy
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey

# for postgres
import psycopg2

import warnings
warnings.filterwarnings("ignore")

print('OK')

OK

In [3]:
# open a new connection to pyanalysis
engine = create_engine('postgresql://postgres@localhost:5432/pyanalysis')
print("OK")

OK

In [4]:
# try it yourself
# rank teachers hired since 2010-01-01, ordered by pay

sql = """
    SELECT first_name, last_name, school, salary, hire_date
    FROM teachers
    WHERE hire_date > '2010-01-01'
    ORDER BY salary DESC
    """
teachers = pd.read_sql(sqlalchemy.text(sql), engine, parse_dates=['hire_date'])

teachers.head(6)

  first_name last_name               school   salary  hire_date
0   Kathleen     Roush    F.D. Roosevelt HS  38500.0 2010-10-22
1      Janet     Smith    F.D. Roosevelt HS  36200.0 2011-10-30
2   Samantha      Bush  Myers Middle School  36200.0 2011-10-30